body {background-color:	#338091;}
#tabela {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #tabela td, #tabela th {
    border: 1px solid black;
    padding: 8px;
  }
  
  #tabela tr {background-color: #66a0ad;}
  
  #tabela tr:hover {background-color: #ddd;}
  
  #tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #006076;
    color: white;
  }

  .update {
    background-color: #338091;
    color: white;
  }

  .insert{
    background-color: #338091;
    color: white;
    
  }

  